
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h1{
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: inline;
  margin: 10px;

}
#idHeader{
  height: 100px;
  line-height: 250%;
  text-align: center;
  
}
.listaHeader{
  margin: 0;
  display: flex;
  flex-direction: row;
}
.botoesDiv{

}

button{
  height:;
}